@font-face {
  font-family: 'windowsregular';
  src: url('./assets/fonts/windows_regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/windows_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", serif;
  font-weight: 700;
  font-style: italic;
}

/** begin styles **/

html {
  background-color: #FCFAF0;
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  color: #253031;
}
body {
  margin: 0 auto;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  line-height: 1.6;
}
header {
  width: 100vw;
  display: flex;
  border-bottom: 1px solid #253031;
}
header div {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
}
header a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 1.5rem;
}
header img {
  max-width: 38px;
  max-height: 38px;
  margin-right: 5px;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100vw;
}

/* **** sidebar **** */
.sidebar {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #253031;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wip a {
  text-decoration: line-through;
  cursor: default;
}

.wip-text {
  color: #A9A9A9;
  font-size: 0.9rem;
  margin-left: 5px;
}

/* **** main content **** */
.main-content {
  width: 80%;
  padding: 10px;
}

.icon-header {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.concourse-icon {
  max-width: 38px;
  max-height: 38px;
  margin-right: 5px;
}

.concourse-icon-lg {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  z-index: 1;
}

.concourse-icon-xl {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  z-index: 2;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 0.8rem;
}

/** **** pages **** **/

/** about **/

.about {
  display: block;
}

.ben-pic-header {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  gap: 2rem;
  font-size: 1rem;
}

.about .ben-pic {
  max-width: 150px;
  max-height: 150px;
  margin: 15px 0;
  border-radius: 999px;
  /* box-shadow: 5px 4px 0px 4px rgb(65 58 40) */
}



/** blog **/

.blog {
  background-color: pink;
}


/** work in progress **/

.body-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}
.body-content img {
  width: 50%;
  height: 50%;
}
.body-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.body-content ul li {
  font-size: 1rem;
}

/* ****** */

.blog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

.blog-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 20px;
  text-align: left;
  line-height: 2;
}

.proverb-aesthetic {
  font-size: 0.75rem;
  font-style: italic;
  letter-spacing: 0.2rem;
  margin: 20px 0;
}