<aside class="sidebar">
  <div class="logo">
    <a href="/index.html" class="site-logo">
      <img src="/assets/img/paradise.png" alt="site-logo" />
      <h1>Concourse Codes</h1>
    </a>
  </div>
  <ul>
    <li><a href="/index.html" class="icon-link"><img src="/assets/img/planecloud.png" alt="home" class="concourse-icon-xs" />Home</a></li>
    <li><a href="/about.html" class="icon-link"><img src="/assets/img/ben_pixel.png" alt="ben-head-pixel" class="concourse-icon-xs" id="ben-head-pixel" />About</a></li>
    <li><a href="/projects.html" class="icon-link"><img src="/assets/img/dracaena.png" alt="projects" class="concourse-icon-xs" />Projects</a></li>
    <li><a href="/blog.html" class="icon-link"><img src="/assets/img/monstera.png" alt="blog" class="concourse-icon-xs" />Blog</a></li>
    <li><a href="/microblog.html" class="icon-link"><img src="/assets/img/swatch.png" alt="microblog-icon" class="concourse-icon-xs" />Microblog</a></li>
    <li><a href="/contact.html" class="icon-link"><img src="/assets/img/mailbush.png" alt="contact" class="concourse-icon-xs" />Contact</a></li>
  </ul>
</aside>
